@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

/* || CSS RESET */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover,
a:focus,
a:focus-within {
    color: orange;
}

/* || Utility Class */
.sr-only {
    border: 0 !important;
    clip: rect(1px¿1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* || VARIABLES */

:root {
    /* fonts */
    --FF: 'Montserrat', sans-serif;
}

/* || GENERAL STYLE */

html {
    font-size: 1rem;
    font-family: var(--FF);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #1D1D20;
    color: aliceblue;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome {
    height: auto;
    margin: 2rem 2rem 2rem 0rem;
}

.description {
    padding: 0rem 1rem;
    margin: 0rem 2rem 0rem 0rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.media-element {
    display: flex;
    flex-flow: row nowrap;
}

.card-before {
    display: block;
    content: "";
    /* border: 2px solid aliceblue; */
    width: 50px;

    background: linear-gradient(to bottom, green, blue);
}

/* || MENU */
.primary-menu ul li {
    cursor: pointer;
    padding: 0px 25px;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
}

.scrolldown {
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
}

/* || RESPONSIVENESS */
@media screen and (max-width: 480px) {

    /* Mobile Menu */

    .primary-menu {
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1000;

        background: rgb(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(10rem);

        display: flex;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-menu[data-visible="true"] {
        transform: translateX(0%);
    }

    .primary-menu ul li {
        padding: 1rem;
    }

    .scrolldown {
        display: none;
    }

    .mobile-nav-toggle {
        position: absolute;
        width: 3rem;
        aspect-ratio: 1;
        top: 2rem;
        right: -8rem;
        z-index: 9999;
        background-color: transparent;
        background-image: url("/assets/images/icons8-menu-48.svg");
        background-repeat: no-repeat;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-color: transparent;
        background-image: url("/assets/images/icons8-multiply-48.png");
    }
}


@media screen and (min-width: 481px) {

    /* MENU */
    .primary-menu {
        display: block;
        position: absolute;
        margin: 50px;
        /* bottom: 40%; */
        /* right: 0px; */
        transform: rotate(-90deg);
    }

    .primary-menu ul li {
        display: inline-block;
    }

    .scrolldown {
        display: block;
        transform: rotate(-90deg);
        position: absolute;
        left: 0;
        bottom: 100px;
        /* transform: translateY(-5px); */
    }

    .scrolldown::before {
        display: block;
        content: "";
        border: 2px solid aliceblue;
        width: 50px;
        margin: 0 20px 0 0;
        transform: translateY(-2px);
        opacity: 0.5;
        display: inline-block;
    }

    .mobile-nav-toggle {
        display: none;
    }
}


/* 
<svg id="welcome" width="624" height="100" viewBox="0 0 624 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-outside-1_6_3" maskUnits="userSpaceOnUse" x="0.119995" y="0.0239868" width="624"
                height="100" fill="black">
                <rect fill="white" x="0.119995" y="0.0239868" width="624" height="100" />
                <path
                    d="M33.584 97L3.12 7.39999H10.032L38.96 93.032H35.504L65.328 7.39999H71.6L101.168 93.032H97.84L127.024 7.39999H133.424L103.088 97H96.176L67.504 14.184H69.168L40.496 97H33.584Z" />
                <path
                    d="M172.204 97.512C165.463 97.512 159.489 96.0613 154.284 93.16C149.164 90.2587 145.111 86.248 142.124 81.128C139.223 76.008 137.772 70.1627 137.772 63.592C137.772 56.936 139.137 51.0907 141.868 46.056C144.684 40.936 148.524 36.9253 153.388 34.024C158.252 31.1227 163.713 29.672 169.772 29.672C175.831 29.672 181.249 31.08 186.028 33.896C190.892 36.712 194.689 40.68 197.42 45.8C200.236 50.8347 201.644 56.68 201.644 63.336C201.644 63.592 201.601 63.8907 201.516 64.232C201.516 64.488 201.516 64.7867 201.516 65.128H142.508V60.136H198.06L195.5 62.568C195.585 57.3627 194.476 52.712 192.172 48.616C189.953 44.4347 186.924 41.192 183.084 38.888C179.244 36.4987 174.807 35.304 169.772 35.304C164.823 35.304 160.385 36.4987 156.46 38.888C152.62 41.192 149.591 44.4347 147.372 48.616C145.153 52.712 144.044 57.4053 144.044 62.696V63.848C144.044 69.3093 145.239 74.1733 147.628 78.44C150.103 82.6213 153.473 85.9067 157.74 88.296C162.007 90.6 166.871 91.752 172.332 91.752C176.599 91.752 180.567 90.984 184.236 89.448C187.991 87.912 191.148 85.5653 193.708 82.408L197.42 86.632C194.519 90.216 190.849 92.9467 186.412 94.824C182.06 96.616 177.324 97.512 172.204 97.512Z" />
                <path d="M221.443 97V2.02399H227.843V97H221.443Z" />
                <path
                    d="M281.314 97.512C274.829 97.512 269.026 96.0613 263.906 93.16C258.871 90.2587 254.861 86.248 251.874 81.128C248.973 76.008 247.522 70.1627 247.522 63.592C247.522 56.936 248.973 51.048 251.874 45.928C254.861 40.808 258.871 36.84 263.906 34.024C269.026 31.1227 274.829 29.672 281.314 29.672C286.69 29.672 291.554 30.696 295.906 32.744C300.343 34.792 303.927 37.864 306.658 41.96L301.922 45.416C299.533 42.0027 296.546 39.4853 292.962 37.864C289.378 36.2427 285.495 35.432 281.314 35.432C276.109 35.432 271.415 36.6267 267.234 39.016C263.138 41.32 259.895 44.6053 257.506 48.872C255.202 53.0533 254.05 57.96 254.05 63.592C254.05 69.224 255.202 74.1733 257.506 78.44C259.895 82.6213 263.138 85.9067 267.234 88.296C271.415 90.6 276.109 91.752 281.314 91.752C285.495 91.752 289.378 90.9413 292.962 89.32C296.546 87.6987 299.533 85.1813 301.922 81.768L306.658 85.224C303.927 89.32 300.343 92.392 295.906 94.44C291.554 96.488 286.69 97.512 281.314 97.512Z" />
                <path
                    d="M350.805 97.512C344.405 97.512 338.688 96.0613 333.653 93.16C328.704 90.2587 324.736 86.248 321.749 81.128C318.848 76.008 317.397 70.1627 317.397 63.592C317.397 56.936 318.848 51.0907 321.749 46.056C324.736 40.936 328.704 36.9253 333.653 34.024C338.688 31.1227 344.405 29.672 350.805 29.672C357.205 29.672 362.922 31.1227 367.957 34.024C372.992 36.9253 376.96 40.936 379.861 46.056C382.762 51.0907 384.213 56.936 384.213 63.592C384.213 70.1627 382.762 76.008 379.861 81.128C376.96 86.248 372.992 90.2587 367.957 93.16C362.922 96.0613 357.205 97.512 350.805 97.512ZM350.805 91.752C355.925 91.752 360.533 90.6 364.629 88.296C368.725 85.9067 371.925 82.5787 374.229 78.312C376.533 74.0453 377.685 69.1387 377.685 63.592C377.685 57.96 376.533 53.0533 374.229 48.872C371.925 44.6053 368.725 41.32 364.629 39.016C360.533 36.6267 355.925 35.432 350.805 35.432C345.685 35.432 341.077 36.6267 336.981 39.016C332.97 41.32 329.77 44.6053 327.381 48.872C325.077 53.0533 323.925 57.96 323.925 63.592C323.925 69.1387 325.077 74.0453 327.381 78.312C329.77 82.5787 332.97 85.9067 336.981 88.296C341.077 90.6 345.685 91.752 350.805 91.752Z" />
                <path
                    d="M487.268 29.672C492.644 29.672 497.295 30.7387 501.22 32.872C505.231 34.92 508.345 38.0773 510.564 42.344C512.783 46.5253 513.892 51.7307 513.892 57.96V97H507.492V58.472C507.492 50.9627 505.657 45.2453 501.988 41.32C498.319 37.3947 493.199 35.432 486.628 35.432C481.593 35.432 477.241 36.4987 473.572 38.632C469.903 40.7653 467.087 43.752 465.124 47.592C463.161 51.432 462.18 56.04 462.18 61.416V97H455.78V58.472C455.78 50.9627 453.945 45.2453 450.276 41.32C446.607 37.3947 441.487 35.432 434.916 35.432C429.881 35.432 425.529 36.4987 421.86 38.632C418.191 40.7653 415.375 43.752 413.412 47.592C411.449 51.432 410.468 56.04 410.468 61.416V97H404.068V30.184H410.212V48.616L409.316 46.568C411.279 41.3627 414.564 37.2667 419.172 34.28C423.78 31.208 429.327 29.672 435.812 29.672C442.468 29.672 448.057 31.3787 452.58 34.792C457.188 38.12 460.089 43.112 461.284 49.768L459.108 48.872C460.9 43.1547 464.271 38.5467 469.22 35.048C474.169 31.464 480.185 29.672 487.268 29.672Z" />
                <path
                    d="M567.454 97.512C560.713 97.512 554.739 96.0613 549.534 93.16C544.414 90.2587 540.361 86.248 537.374 81.128C534.473 76.008 533.022 70.1627 533.022 63.592C533.022 56.936 534.387 51.0907 537.118 46.056C539.934 40.936 543.774 36.9253 548.638 34.024C553.502 31.1227 558.963 29.672 565.022 29.672C571.081 29.672 576.499 31.08 581.278 33.896C586.142 36.712 589.939 40.68 592.67 45.8C595.486 50.8347 596.894 56.68 596.894 63.336C596.894 63.592 596.851 63.8907 596.766 64.232C596.766 64.488 596.766 64.7867 596.766 65.128H537.758V60.136H593.31L590.75 62.568C590.835 57.3627 589.726 52.712 587.422 48.616C585.203 44.4347 582.174 41.192 578.334 38.888C574.494 36.4987 570.057 35.304 565.022 35.304C560.073 35.304 555.635 36.4987 551.71 38.888C547.87 41.192 544.841 44.4347 542.622 48.616C540.403 52.712 539.294 57.4053 539.294 62.696V63.848C539.294 69.3093 540.489 74.1733 542.878 78.44C545.353 82.6213 548.723 85.9067 552.99 88.296C557.257 90.6 562.121 91.752 567.582 91.752C571.849 91.752 575.817 90.984 579.486 89.448C583.241 87.912 586.398 85.5653 588.958 82.408L592.67 86.632C589.769 90.216 586.099 92.9467 581.662 94.824C577.31 96.616 572.574 97.512 567.454 97.512Z" />
                <path
                    d="M615.925 97.512C614.474 97.512 613.194 97 612.085 95.976C611.061 94.8667 610.549 93.544 610.549 92.008C610.549 90.472 611.061 89.192 612.085 88.168C613.194 87.144 614.474 86.632 615.925 86.632C617.376 86.632 618.613 87.144 619.637 88.168C620.746 89.192 621.301 90.472 621.301 92.008C621.301 93.544 620.746 94.8667 619.637 95.976C618.613 97 617.376 97.512 615.925 97.512Z" />
            </mask>
            <path class="path"
                d="M33.584 97L3.12 7.39999H10.032L38.96 93.032H35.504L65.328 7.39999H71.6L101.168 93.032H97.84L127.024 7.39999H133.424L103.088 97H96.176L67.504 14.184H69.168L40.496 97H33.584Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
            <path class="path"
                d="M172.204 97.512C165.463 97.512 159.489 96.0613 154.284 93.16C149.164 90.2587 145.111 86.248 142.124 81.128C139.223 76.008 137.772 70.1627 137.772 63.592C137.772 56.936 139.137 51.0907 141.868 46.056C144.684 40.936 148.524 36.9253 153.388 34.024C158.252 31.1227 163.713 29.672 169.772 29.672C175.831 29.672 181.249 31.08 186.028 33.896C190.892 36.712 194.689 40.68 197.42 45.8C200.236 50.8347 201.644 56.68 201.644 63.336C201.644 63.592 201.601 63.8907 201.516 64.232C201.516 64.488 201.516 64.7867 201.516 65.128H142.508V60.136H198.06L195.5 62.568C195.585 57.3627 194.476 52.712 192.172 48.616C189.953 44.4347 186.924 41.192 183.084 38.888C179.244 36.4987 174.807 35.304 169.772 35.304C164.823 35.304 160.385 36.4987 156.46 38.888C152.62 41.192 149.591 44.4347 147.372 48.616C145.153 52.712 144.044 57.4053 144.044 62.696V63.848C144.044 69.3093 145.239 74.1733 147.628 78.44C150.103 82.6213 153.473 85.9067 157.74 88.296C162.007 90.6 166.871 91.752 172.332 91.752C176.599 91.752 180.567 90.984 184.236 89.448C187.991 87.912 191.148 85.5653 193.708 82.408L197.42 86.632C194.519 90.216 190.849 92.9467 186.412 94.824C182.06 96.616 177.324 97.512 172.204 97.512Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
            <path class="path" d="M221.443 97V2.02399H227.843V97H221.443Z" stroke="#1a1919" stroke-width="2"
                mask="url(#path-1-outside-1_6_3)" />
            <path class="path"
                d="M281.314 97.512C274.829 97.512 269.026 96.0613 263.906 93.16C258.871 90.2587 254.861 86.248 251.874 81.128C248.973 76.008 247.522 70.1627 247.522 63.592C247.522 56.936 248.973 51.048 251.874 45.928C254.861 40.808 258.871 36.84 263.906 34.024C269.026 31.1227 274.829 29.672 281.314 29.672C286.69 29.672 291.554 30.696 295.906 32.744C300.343 34.792 303.927 37.864 306.658 41.96L301.922 45.416C299.533 42.0027 296.546 39.4853 292.962 37.864C289.378 36.2427 285.495 35.432 281.314 35.432C276.109 35.432 271.415 36.6267 267.234 39.016C263.138 41.32 259.895 44.6053 257.506 48.872C255.202 53.0533 254.05 57.96 254.05 63.592C254.05 69.224 255.202 74.1733 257.506 78.44C259.895 82.6213 263.138 85.9067 267.234 88.296C271.415 90.6 276.109 91.752 281.314 91.752C285.495 91.752 289.378 90.9413 292.962 89.32C296.546 87.6987 299.533 85.1813 301.922 81.768L306.658 85.224C303.927 89.32 300.343 92.392 295.906 94.44C291.554 96.488 286.69 97.512 281.314 97.512Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
            <path class="path"
                d="M350.805 97.512C344.405 97.512 338.688 96.0613 333.653 93.16C328.704 90.2587 324.736 86.248 321.749 81.128C318.848 76.008 317.397 70.1627 317.397 63.592C317.397 56.936 318.848 51.0907 321.749 46.056C324.736 40.936 328.704 36.9253 333.653 34.024C338.688 31.1227 344.405 29.672 350.805 29.672C357.205 29.672 362.922 31.1227 367.957 34.024C372.992 36.9253 376.96 40.936 379.861 46.056C382.762 51.0907 384.213 56.936 384.213 63.592C384.213 70.1627 382.762 76.008 379.861 81.128C376.96 86.248 372.992 90.2587 367.957 93.16C362.922 96.0613 357.205 97.512 350.805 97.512ZM350.805 91.752C355.925 91.752 360.533 90.6 364.629 88.296C368.725 85.9067 371.925 82.5787 374.229 78.312C376.533 74.0453 377.685 69.1387 377.685 63.592C377.685 57.96 376.533 53.0533 374.229 48.872C371.925 44.6053 368.725 41.32 364.629 39.016C360.533 36.6267 355.925 35.432 350.805 35.432C345.685 35.432 341.077 36.6267 336.981 39.016C332.97 41.32 329.77 44.6053 327.381 48.872C325.077 53.0533 323.925 57.96 323.925 63.592C323.925 69.1387 325.077 74.0453 327.381 78.312C329.77 82.5787 332.97 85.9067 336.981 88.296C341.077 90.6 345.685 91.752 350.805 91.752Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
            <path class="path"
                d="M487.268 29.672C492.644 29.672 497.295 30.7387 501.22 32.872C505.231 34.92 508.345 38.0773 510.564 42.344C512.783 46.5253 513.892 51.7307 513.892 57.96V97H507.492V58.472C507.492 50.9627 505.657 45.2453 501.988 41.32C498.319 37.3947 493.199 35.432 486.628 35.432C481.593 35.432 477.241 36.4987 473.572 38.632C469.903 40.7653 467.087 43.752 465.124 47.592C463.161 51.432 462.18 56.04 462.18 61.416V97H455.78V58.472C455.78 50.9627 453.945 45.2453 450.276 41.32C446.607 37.3947 441.487 35.432 434.916 35.432C429.881 35.432 425.529 36.4987 421.86 38.632C418.191 40.7653 415.375 43.752 413.412 47.592C411.449 51.432 410.468 56.04 410.468 61.416V97H404.068V30.184H410.212V48.616L409.316 46.568C411.279 41.3627 414.564 37.2667 419.172 34.28C423.78 31.208 429.327 29.672 435.812 29.672C442.468 29.672 448.057 31.3787 452.58 34.792C457.188 38.12 460.089 43.112 461.284 49.768L459.108 48.872C460.9 43.1547 464.271 38.5467 469.22 35.048C474.169 31.464 480.185 29.672 487.268 29.672Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
            <path class="path"
                d="M567.454 97.512C560.713 97.512 554.739 96.0613 549.534 93.16C544.414 90.2587 540.361 86.248 537.374 81.128C534.473 76.008 533.022 70.1627 533.022 63.592C533.022 56.936 534.387 51.0907 537.118 46.056C539.934 40.936 543.774 36.9253 548.638 34.024C553.502 31.1227 558.963 29.672 565.022 29.672C571.081 29.672 576.499 31.08 581.278 33.896C586.142 36.712 589.939 40.68 592.67 45.8C595.486 50.8347 596.894 56.68 596.894 63.336C596.894 63.592 596.851 63.8907 596.766 64.232C596.766 64.488 596.766 64.7867 596.766 65.128H537.758V60.136H593.31L590.75 62.568C590.835 57.3627 589.726 52.712 587.422 48.616C585.203 44.4347 582.174 41.192 578.334 38.888C574.494 36.4987 570.057 35.304 565.022 35.304C560.073 35.304 555.635 36.4987 551.71 38.888C547.87 41.192 544.841 44.4347 542.622 48.616C540.403 52.712 539.294 57.4053 539.294 62.696V63.848C539.294 69.3093 540.489 74.1733 542.878 78.44C545.353 82.6213 548.723 85.9067 552.99 88.296C557.257 90.6 562.121 91.752 567.582 91.752C571.849 91.752 575.817 90.984 579.486 89.448C583.241 87.912 586.398 85.5653 588.958 82.408L592.67 86.632C589.769 90.216 586.099 92.9467 581.662 94.824C577.31 96.616 572.574 97.512 567.454 97.512Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
            <path class="path"
                d="M615.925 97.512C614.474 97.512 613.194 97 612.085 95.976C611.061 94.8667 610.549 93.544 610.549 92.008C610.549 90.472 611.061 89.192 612.085 88.168C613.194 87.144 614.474 86.632 615.925 86.632C617.376 86.632 618.613 87.144 619.637 88.168C620.746 89.192 621.301 90.472 621.301 92.008C621.301 93.544 620.746 94.8667 619.637 95.976C618.613 97 617.376 97.512 615.925 97.512Z"
                stroke="#1a1919" stroke-width="2" mask="url(#path-1-outside-1_6_3)" />
        </svg>
*/